.rw-header-main {
    position: relative;
    width: 100%;
    height: 140px;
    background: #6ecae9;
    margin-top: 30px;
    text-align: left;
    margin-bottom: 20px;
}
.rw-header-main img {
    position: relative;
    width: 222px;
}
.rw-products-main-div {
    width: 99%;
    position: relative;
    margin: 15px 0px;
    float: left;
}
.rw-product-div {
    float: left;
    position: relative;
    width: 270px;
    height: 530px;
    text-align: center;
    background: #fff;
    margin-left: 5px;
    margin-top: 15px;
    box-shadow: 0 1px 4px #6ecae9;
    -webkit-box-shadow: 0 1px 4px #6ecae9;
    -moz-box-shadow: 0 1px 4px #6ecae9;
}
.rw-product-div:before,
.rw-product-div:after {
    content: "";
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px #6ecae9;
    -webkit-box-shadow: 0 0 20px #6ecae9;
    -moz-box-shadow: 0 0 20px #6ecae9;
    top: 50%;
    bottom: 0;
    left: 10px;
    right: 10px;
    border-radius: 100px / 10px;
}
.rw-product-div img {
    margin-top: 10px;
}
.rw-product-div p {
    padding: 0px 15px 10px 15px;
    text-align: justify;
    font-size: 14px;
    line-height: 1.2;
    color: #30a9d1;
}
.rw-product-div p span {
    margin-left: 5px;
    margin-right: 3px;
    padding: 0px;
    font-size: 24px;
    color: #6ecae9;
    text-shadow: 0px 0px 1px #000;
}
.rw-product-div h1 {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid #6ecae9;
}
.rw-product-div a {
    padding: 8px 0px;
    box-shadow: 0px 0px 20px #6ecae9 inset;
    width: 90%;
    text-decoration: none;
    color: #30a9d1;
    position: absolute;
    left: 5%;
    bottom: 10px;
}
.rw-product-div a:hover {
    box-shadow: 0px 0px 20px #30a9d1 inset;
}